<h1 class="index_title">物件一覧</h1>

<table>
  <thead class="property_names">
    <tr>
      <td class="property_table">物件名</td>
      <td class="property_table">賃料</td>
      <td class="property_table">住所</td>
      <td class="property_table">築年数</td>
      <td class="property_table">備考</td>
      <td class="property_table"></td>
      <td class="property_table"></td>
      <td class="property_table"></td>
   </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td class="property_name"> <%=  property.name %> </td>
        <td class="property_rent">
          <%=  property.rent.to_s(:delimited) %>
          <br>円
        </td>
        <td class="property_address"> <%=  property.address %> </td>
        <td class="property_age">
          <%=  property.age %>
          <br>年
        </td>
        <td class="property_remarks"> <%=  property.remarks %> </td>
        <td class="property_show_edit_delete">
          <%= link_to '詳細', property %>
        </td>
        <td class="property_show_edit_delete">
          <%= link_to '編集', edit_property_path(property) %>
        </td>
        <td class="property_show_edit_delete">
          <%= link_to '削除', property, method: :delete,
                      data: { confirm: "物件「#{property.name}」を削除します。よろしいですか？ "} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '物件を登録する', new_property_path %>